/*-----------Обнуление-----------*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* ----------------шрифты---------------- */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2'), url('../fonts/Roboto-Regular.woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2'), url('../fonts/Roboto-Light.woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Light.woff2'), url('../fonts/RobotoCondensed-Light.woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

/* ----------------переменные------------------ */

:root {
  --color-light: #f3f6fd;
  --color-dark: #070707;
  --color-accent: #026779;

  --margin-block: 150px;
}

/*---------------Служебные блоки----------------*/
.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.hidden {
  max-height: 0px;
  display: none;
}

body {
  background-color: var(--color-light);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24px;
  color: var(--color-dark);
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section:not(:last-child) {
  margin-bottom: var(--margin-block);
}

.section-title {
  position: relative;
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 45px;
  width: 100%;
}

.section-title::before {
  position: absolute;
  content: ' ';
  background-color: var(--color-dark);
  width: 20%;
  height: 1px;
  top: -40%;
  left: 40%;
}

/*-----------------HEADER-----------------*/

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__item {
  color: var(--color-light);
  text-transform: uppercase;
  padding: 50px 0;
}

.nav__link {
  padding-bottom: 16px;
  border-bottom: solid 2px rgba(0, 0, 0, 0);
  transition: border 0.2s ease-in-out;
}

.nav__link:hover {
  border-bottom: solid 2px var(--color-light);
}

.nav__link--active {
  padding-bottom: 16px;
  border-bottom: solid 2px rgba(243, 246, 253, 100%);
  transition: all 0.2s ease-in-out;
}

/*-----------------POSTERS-----------------*/
.poster {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.poster__filter {
  background-color: var(--color-blackout);
}

#Kama_reservoir {
  background-image: url('../img/Background (1).jpg');
}

#Kama_HPP {
  background-image: url('../img/Background (2).jpg');
}

#crash {
  background-image: url('../img/Background (3).jpg');
}

.poster__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.poster__title {
  position: relative;
  max-width: 1010px;
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-light);
}

.poster__title::after {
  content: ' ';
  position: absolute;
  background: var(--color-light);
  width: 40%;
  height: 2px;
  left: 30%;
  top: 115%;
}

.poster__desr {
  margin-top: 55px;
  color: var(--color-light);
  text-align: center;
}

/*-----------------MAPS-----------------*/

.map__info {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  height: 620px;
}

.map__right-column {
  height: 100%;
  z-index: 2;
}

.map__left-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin-right: 45px;
  height: 100%;
}

.map__descr {
  max-width: 553px;
}

.map__descr:not(:last-child) {
  margin-bottom: 40px;
}

/* .map__bottom::before {
  position: absolute;
  content: ' ';
  background: var(--color-dark);
  height: 1px;
  width: 400%;
  left: -200%;
  top: -30%;
  z-index: 1;
} */

.map__bottom {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.map__mini-img {
  width: 60%;
  margin-right: 30px;
}

.map__legend {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.shorthands__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 23px;
}

.shorthands__icon {
  max-width: 30px;
  max-height: 20px;
}

.shorthands__title {
  font-size: 16px;
  margin-left: 14px;
}

/*-----------------INFO-----------------*/

.info__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.info__block:not(:last-child) {
  position: relative;
  margin-bottom: var(--margin-block);
}

.info__block:not(:last-child)::after {
  position: absolute;
  content: ' ';
  background-color: var(--color-dark);
  width: 40%;
  height: 1px;
  top: 115%;
  left: 30%;
}

.info__img {
  max-width: 580px;
}

.info__img:nth-child(odd) {
  margin-right: 60px;
}

.info__img:nth-child(even) {
  margin-left: 60px;
}

.info__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.info__paragraph:not(:last-child) {
  margin-bottom: 36px;
}
